cloudpickle==3.1.2
ImageIO==2.37.4
joblib==1.6.0
lazy-loader==0.5
narwhals==2.25.0
networkx==3.6.1
numpy==2.5.2
opencv-python-headless==5.0.0.93
packaging==26.3
pillow==12.3.0
scikit-image==0.26.0
scikit-learn==1.9.0
scipy==1.18.1
threadpoolctl==3.6.0
tifffile==2026.8.23
